.card {
  border: 2px solid yellowgreen;
  max-width: 18rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imageCard > img {
  max-width: 16rem;
  object-fit: cover;
}
