.homePage {
  display: flex;
  flex-direction: column;
  background-color: #353f42;
  color: #fff;
  padding: 1rem 2rem;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0rem;
}

.homePageHeading {
  display: flex;
  justify-content: space-between;
}

.homePageHeading > select {
  cursor: pointer;
}
