.header {
  background-color: #353f42;
  color: #fff;
  display: flex;
  justify-content: space-around;
  height: 10vh;
  align-items: center;
  font-weight: 800;
}

.header > input {
  background-color: inherit;
  border: 2px solid greenyellow;
  color: #fff;
  padding: 0.7rem 1.5rem;
}
.header > input:focus {
  outline: none;
  opacity: 0.9;
}
